<h1>Welcome to Knickipedia!</h1>


	<a href="/users">View Users</a>
	<a href="/articles">View Articles</a>

<form action="/articles/new" method="post">

  <h2>Submit a New Article</h2>

  <label for="name">Title:</label><br>
  <br>
  <input name="name" type="text" placeholder="Article Title"><br>
  <br>
  
  <label for="content">Article:</label><br>
  <br>
  <textarea rows="5" cols="50" placeholder="Write Article!"></textarea><br>

  <input type="submit">
</form>
